nav.navbar.navbar-default.navbar-inverse
    .container-fluid
    .navbar-header
        button(type="button", data-toggle="collapse",data-target="#navbar-links", aria-expanded="false").navbar-toggle.collapsed
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="index.html").navbar-brand
          img(src="images/CapeWatchLogo.png", alt="Police logo")#badge
        a(href="index.").navbar-text#whiteText
          |Cape Watch 

      

      
