nav.navbar.navbar-default.navbar-inverse
    .container-fluid
    .navbar-header
        button(type="button", data-toggle="collapse",data-target="#navbar-links", aria-expanded="false").navbar-toggle.collapsed
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="index.html").navbar-brand
          img(src="images/sheriff.svg", alt="Police logo")#badge 
                          
    .collapse.navbar-collapse#navbar-links
      ul.nav.navbar-nav.navbar-right
        

      
