<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cape Watch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body style="background-image: linear-gradient(rgba(0, 0, 0, 0.80),rgba(255, 255, 255, 0.10))">
    <nav class="navbar navbar-default navbar-inverse">
      <div class="container-fluid"></div>
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-links" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html"><img src="images/sheriff.svg" alt="Police logo" id="badge"></a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="nav navbar-nav navbar-right"></ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">Home</a></li>
          <li><a href="login.php">Login</a></li>
          <li class="active"><a href="profile.php">Profile</a></li>
          <li><a href="reports.html">Reports</a></li>
          <li><a href="stats.html">Statistics</a></li>
          <li><a href="hotspots.html">Hotspots</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
    </nav>
    <section>
      <div class="container">
        <div class="row">

            <div class="col-sm-6">

                <div style="background-color: rgb(136, 23, 27); padding-left: 5px; border-radius: 10px">
                <h1 style="color:white;"> Welcome Back, // </h1>
                </div>

                <div class="card" style="width: 100%;">
                  <div class="card-body">
                    <h4 class="card-title" style="color:black; opacity:0.8;"><i class="glyphicon glyphicon-user" style="color: white"></i><em><?php print_r($name." ".$surname)?></em></h4>
                    <h6 class="card-subtitle mb-2 text-muted" id="date" style="text-align:right; color: white"></h6>
                    <p class="card-text list-group-item"><b>Officier ID: </b> </p>
                    <p class="card-text list-group-item"><b>Name :</b> </p>
                    <p class="card-text list-group-item"><b>Surame:</b> </p>
                    <p class="card-text list-group-item"><b>Email:</b> </p>
                    <p class="card-text list-group-item"><b>Division:</b> </p>
                    <p class="card-text list-group-item"><b>Rank:</b> </p>

                      <br>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="background-color: #9D0D0D; border-color: rgb(136, 23, 27)">Edit Profile</button>
                    <a href="#" class="card-link"> </a>
                  </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title text-center" id="exampleModalLabel" style="color: black">Edit Profile</h4>

                      </div>

                      <div class="modal-body">
                        <form class="form-horizontal" method="post" action="profile.jsp">
                          <div class="form-group">
                            <label class="col-sm-2 control-label" for="date">Name</label>
                            <div class="col-sm-4">
                              <input name="name1" placeholder="<% out.println(name); %>" type="text" pattern="^[A-Z]{1}[a-z]+[a-zA-Z\-\s]+" title="Invalid input" style="width: 150px;"/>
                            </div>
                            <label class="col-sm-2 control-label" for="location">Surname</label>
                            <div class="col-sm-4">
                              <input style="width: 150px;" name="surname1" placeholder="<% out.println(surname); %>" type="text" pattern="^[A-Z]{1}['a-z]+[a-zA-Z\-\s]+" title="Invalid input"/>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label" for="password">New Password</label>
                            <div class="col-sm-4">
                              <input style="width: 150px;" name="password1" placeholder="" pattern="[A-Za-z0-9]{5,16}" title="Password should be 5 - 16 characters long with no special characters" type="password"/>
                            </div>
                            <label class="col-sm-2 control-label" for="location">Re-enter Password</label>
                            <div class="col-sm-4">
                              <input style="width: 150px;" name="password2" placeholder="" pattern="[A-Za-z0-9]{5,16}" title="Password should be 5 - 16 characters long with no special characters" type="password"/>
                            </div>
                            <script>
                              var password = document.getElementById("password"),
                                confirm_password = document.getElementById("password2");

                              function validatePassword() {
                                if (password.value != password2.value) {
                                  confirm_password.setCustomValidity("Passwords don't match");
                                } else {
                                  confirm_password.setCustomValidity('');
                                }
                              }
                              password.onchange = validatePassword;
                              confirm_password.onkeyup = validatePassword;
                            </script>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-2 control-label" for="time">Email</label>
                            <div class="col-sm-4">
                              <input style="width: 150px;" type="email" placeholder="<% out.println(email); %>" name="email1"/>
                            </div>
                            <label class="col-sm-2 control-label" for="crimeType">Division</label>
                            <div class="col-sm-4">
                              <div class="dropdown dropdown-content">

                                <select class="form-control" name="division1" style="width: 150px;">

                                  <option value="<% out.println(division); %>"></option>
                                  <option value="Crime Combating and Investigation Division">Crime Combating and Investigation Division</option>
                                  <option value="Visible Policing Division">Visible Policing Division</option>
                                  <option value="Internal Stability Division">Internal Stability Division</option>
                                  <option value="Community Relations Division">Community Relations Division</option>
                                  <option value="Supporting Services Division">Supporting Services Division</option>
                                  <option value="Human Resources Management Division">Human Resources Management Division</option>
                                </select>
                              </div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="col-sm-2 control-label" for="status">Rank</label>
                            <div class="col-sm-4">
                              <div class="dropdown dropdown-content">

                                <select class="form-control" name="rank1" style="width: 150px;">
                                  <option value="<% out.println(rank); %>"></option>
                                  <option value="Chef">General</option>
                                  <option value="Lieutnant General">Lieutnant-General</option>
                                  <option value="Major-General">Major-General</option>
                                  <option value="Brigadier">Brigadier</option>
                                  <option value="Colonel">Colonel</option>
                                  <option value="Major">Major</option>
                                  <option value="Lieutenant">Lieutenant</option>
                                  <option value="Sergeant">Sergeant</option>
                                </select>
                              </div>
                            </div>
                            <label class="col-sm-2 control-label">Police Station
                            </label>
                            <div class="col-sm-4">
                              <div class="dropdown">
                                <select class="form-control" style="width:150px;" name="policeStation1">
                                  <option value="<% out.println(policeStation); %>"></option>
                                  <% String user = Setup.DB_USERNAME; String pass = Setup.DB_PASSWORD; Class.forName("com.mysql.jdbc.Driver"); java.sql.Connection conn = DriverManager.getConnection(Setup.DB_URL, user, pass); Statement st = conn.createStatement(); ResultSet rs1 =
                                  st.executeQuery("SELECT policestation FROM police_station"); while (rs1.next()) { out.println("<option value=" + rs1.getString(1) + ">" + rs1.getString(1) + "</option>"); } %>

                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger" id="save" value="confirm" name="submit" type="submit">Save changes</button>
                      </div>
                    </div>

                  </div>
                </div>


                <br>
                <div class="card-div">
                    <div class="card-1 col-sm-3 col-sm-offset-1" style="margin-top: 10px; width:20rem; border:black solid 1px; padding:10px; background-color: white; border-radius:10px;">
                      <p style="text-align:center;"><img class="card-img-top" src="images/reports.png" alt="Card image cap" style="width:50%;"></p>
                        <div class="card-body">
                          <div class="card-title">
                            <h4 style="color: #9D0D0D">Reports</h4>
                          </div>
                            <p class="card-text">Go to the <b>Reports</b> page to view reports or file a new case report</p>
                            <a href="reports.html" class="btn btn-danger">Reports  <i class="glyphicon glyphicon-share-alt"></i></a>

                        </div>
                    </div>

                    <div class="card-2 col-sm-3 col-sm-offset-1" style="margin-top: 10px; width:20rem; border:black solid 1px; padding:10px; background-color: white; border-radius:10px;">
                      <p style="text-align:center;"><img class="card-img-top" src="images/icon-graph.png" alt="Card image cap" style="width:50%;"></p>
                        <div class="card-body">
                          <div class="card-title">
                            <h4 style="color: #9D0D0D">Statistics</h4>
                          </div>
                            <p class="card-text">View the current <b>crime statistics</b> of the greater Cape Town area</p>
                            <a href="stats.html" class="btn btn-danger">Statistics  <i class="glyphicon glyphicon-share-alt"></i></a>
                        </div>
                    </div>

                    <div class="card-3 col-sm-3 col-sm-offset-1" style="margin-top: 20px; width:20rem; border:black solid 1px; padding:10px; background-color: white; border-radius:10px;">
                      <p style="text-align:center;"><img class="card-img-top" src="images/alert-icon.png" alt="Card image cap" style="width:50%;"></p>
                        <div class="card-body">
                          <div class="card-title">
                            <h4 style="color: #9D0D0D">Hotspots</h4>
                          </div>
                            <p class="card-text">View the latest crime rates per area on the <b>hotspots</b> page</p>
                            <a href="hotspots.html" class="btn btn-danger">Hotspots  <i class="glyphicon glyphicon-share-alt"></i></a>
                        </div>
                    </div>

                    <div class="card-4 col-sm-3 col-sm-offset-1" style=" margin-top: 20px; width:20rem; border:black solid 1px; padding:10px; background-color: white; border-radius:10px;">
                      <p style="text-align:center;"><img class="card-img-top" src="images/contact-icon.png" alt="Card image cap" style="width:50%;"></p>
                        <div class="card-body">
                          <div class="card-title">
                            <h4 style="color: #9D0D0D">Contact Us</h4>
                          </div>
                            <p class="card-text"> Visit the <b>contact us</b> page to get in touch with the developers</p>
                            <a href="contact.html" class="btn btn-danger">Contact Us  <i class="glyphicon glyphicon-share-alt"></i></a>
                        </div>
                    </div>

                </div>
            </div>


             <div class="col-sm-4 col-sm-offset-2">
               <h2 id="whiteText" class="text-center">News Feed</h2>
                <iframe style="width: 100%; height: 100rem; padding:10px; border: none; background-color: white; border-radius: 10px" src="https://www.iol.co.za/dailynews"></iframe>

            </div>

        </div>
        <div class="row">
          <div class="profileContent"></div>
        </div>
      </div>
    </section>

      <script type="text/javascript">

          n =  new Date();
          y = n.getFullYear();
          m = n.getMonth() + 1;
          d = n.getDate();
          document.getElementById("date").innerHTML = m + "/" + d + "/" + y;


      </script>
  </body>
</html>
