header {
  background-color: lightgrey;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.6)), url(../images/police_car.jpeg);
  height: 100vh;
  background-size: cover; }

h1 {
  padding-bottom: 10px; }

#h1 {
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  font-size: 50px;
  color: white; }

h4 {
  font-size: 25px;
  color: white; }

#badge {
  width: 35px; }

.container-fluid {
  padding: 0; }

.navbar {
  margin-bottom: 0; }

.navbar-brand {
  padding: 6px 15px; }

.footer {
  padding-top: 5px;
  padding-right: 15px;
  color: grey;
  text-align: right;
  font-size: 12px; }

body {
  background: #efefef; }

.etc-login-form {
  color: #919191;
  padding: 10px 20px; }

.login-form-1 {
  max-width: 300px;
  border-radius: 5px;
  display: inline-block; }

.main-login-form {
  position: relative; }

.login-form-1 .form-control {
  border: 0;
  box-shadow: 0 0 0;
  border-radius: 0;
  background: transparent;
  color: #555555;
  padding: 7px 0;
  font-weight: bold; }

.login-form-1 .form-group {
  margin-bottom: 0;
  border-bottom: 2px solid #efefef;
  padding-right: 20px;
  position: relative; }

.login-form-1 .form-group:last-child {
  border-bottom: 0; }

.login-group {
  background: #ffffff;
  color: #999999;
  border-radius: 8px;
  padding: 10px 20px; }

.marginTops {
  margin-top: 15px; }

.login-div {
  border: 2px solid white;
  align-content: center; }

.login-button {
  position: absolute;
  right: -25px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 11px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms; }

.login-button:hover {
  color: #555555;
  transform: rotate(450deg); }

.login-form-1 .login-button.clicked {
  color: #555555; }

.login-form-1 .login-button.clicked:hover {
  transform: none; }

.login-form-1 .login-button.clicked.success {
  color: #2ecc71; }

.login-form-1 .login-button.clicked.error {
  color: #e74c3c; }
