 /*old header*/

 /*header {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.6));
  background-color: lightgrey;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0; }

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/CT_city.jpg);
  height: 100vh;
  background-size: cover; }*/

 /*nav stuff*/

 .navbar-inverse {
   background-color: #191919 !important;
 }

 .navbar {
   border-radius: 0;
 }

 .navbar-brand {
   padding-right: 0px !important;
 }

 .navbar-text {
   margin-left: 0px;
 }

 html {
   overflow: auto;
 }

 h1 {
   padding-bottom: 10px;
 }

 #h1 {
   border-bottom: 1px solid white;
   padding-bottom: 10px;
   font-size: 50px;
   color: white;
   font-family: 'Open Sans', sans-serif;
   text-shadow: 1px 1px 5px #000
 }

 #headerStyle {
   font-size: 20px;
   font-weight: bold;
 }

 h4 {
   font-size: 25px;
   color: white;
   font-family: 'Open Sans', sans-serif;
 }

 h2 {
   margin-top: 3%;
   font-family: 'Open Sans', sans-serif;
 }

 .border-bottom {
   border-bottom: 1px solid white;
   padding-bottom: 10px;
 }

 #badge {
   width: 35px;
 }

 #whiteText {
   color: white;
 }

 #link-color {
   color: white;
 }

 #header {
   font-size: 20px;
   font-weight: bold;
 }

 #header2 {
   font-size: 16px;
   margin-bottom: 18px;
 }

 .navbar {
   margin-bottom: 0;
 }

 .navbar-brand {
   padding: 6px 15px;
 }

 .footer {
   padding-top: 5px;
   padding-right: 15px;
   color: grey;
   text-align: right;
   font-size: 12px;
 }

 .image-background {
   background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.1)), url(../images/car_lights.jpg);
   background-size: cover;
   height: 100vh;
 }

 .backgroundcolor {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)), #808080;
   background-size: cover;
   height: 100vh;
 }

 .login-div {
   align-content: center;
   margin-top: 7%;
 }

 .etc-login-form {
   color: #919191;
   padding: 10px 20px;
 }

 .login-form-1 {
   max-width: 500px;
   border-radius: 5px;
   display: inline-block;
 }

 .main-login-form {
   position: relative;
 }

 .login-form-1 .form-control {
   border: 0;
   box-shadow: 0 0 0;
   border-radius: 0;
   background: transparent;
   color: #555555;
   padding: 7px 0;
   font-weight: bold;
 }

 .login-form-1 .form-group {
   margin-bottom: 0;
   border-bottom: 2px solid #efefef;
   padding-right: 20px;
   position: relative;
 }

 .login-form-1 .form-group:last-child {
   border-bottom: 0;
 }

 .login-group {
   background: #ffffff;
   color: #999999;
   border-radius: 8px;
   padding: 10px 20px;
   width: 300px;
 }

 .marginTops {
   margin-top: 15px;
 }

 .login-button {
   position: absolute;
   right: -25px;
   top: 50%;
   background: #ffffff;
   color: #999999;
   padding: 11px 0;
   width: 50px;
   height: 50px;
   margin-top: -25px;
   border: 5px solid #12071C;
   border-radius: 50%;
   transition: all ease-in-out 500ms;
 }

 .login-button:hover {
   color: #555555;
   transform: rotate(450deg);
 }

 .login-form-1 .login-button.clicked {
   color: #555555;
 }

 .login-form-1 .login-button.clicked:hover {
   transform: none;
 }

 .login-form-1 .login-button.clicked.success {
   color: #2ecc71;
 }

 .login-form-1 .login-button.clicked.error {
   color: #e74c3c;
 }

 #forgot {
   margin-bottom: 15px;
 }

 #subtext {
   color: white;
   margin-bottom: 25px;
   font-family: 'Open Sans', sans-serif;
 }

 .main-login {
   background-color: #fff;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   margin-top: 20px;
   padding-top: 20px;
   padding-bottom: 2px;
   padding-left: 15px;
   padding-right: 15px;
 }

 select {
   height: 40px;
   width: 420px;
 }

 @media all and (max-width: 600px) {
   select {
     width: 420px;
     max-width: 100%;
   }
 }

 #modal-select {
   height: 40px;
   width: 100%;
 }

 #system-search {
   height: 28px;
 }

 #btn-same {
   width: 100px;
 }

 .map-filters {
   border-radius: 10px;
   width: inherit;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   display: block;
 }

 .table {
   background-color: white;
   border-radius: 5px;
 }

 .detailsLabel {
   margin-left: 10px;
 }

 #editButton {
   border: none;
 }

 .status-font {
   margin-top: 7px;
 }

 .span3 {
   height: 80% auto !important;
 }

 #submitBtn {
   margin-top: 5%;
 }

 #icon-padding {
   padding-right: 8px;
 }

 .contactUS {
   margin-bottom: 20px;
 }

 .world_background {
   background-color: #222222;
   background-image: url("http://artdnaswitchbd.com/componants/images/map-image.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-size: 100%;
 }

 section {
   padding: 30px 0px;
 }

 section#contact .section-heading {
   color: white;
 }

 section#contact .form-group input, section#contact .form-group textarea {
   padding: 20px;
 }

 section#contact .form-group input.form-control {
   height: auto;
 }

 section#contact .form-group textarea.form-control {
   height: 236px;
 }

 section#contact .form-control:focus {
   border-color: #fed136;
   box-shadow: none;
 }

 section#contact ::-webkit-input-placeholder {
   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 700;
   color: #686a6d;
 }

 section#contact :-moz-placeholder {
   /* Firefox 18- */
   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 700;
   color: #686a6d;
 }

 section#contact ::-moz-placeholder {
   /* Firefox 19+ */
   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 700;
   color: #686a6d;
 }

 section#contact :-ms-input-placeholder {
   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 700;
   color: #686a6d;
 }

 section#contact .text-danger {
   color: #e74c3c;
 }

 #email {
   border-radius: 5px;
 }

 .about_us {
   text-align: center;
   margin-bottom: 20px;
 }

 .about_us h1 {
   font-size: 25px;
   color: white;
 }

 .about_us p {
   color: white;
 }

 .titleline-icon {
   position: relative;
   max-width: 125px;
   border-top: 4px double #F99700;
   margin: 20px auto 20px;
 }

 .titleline-icon:after {
   position: absolute;
   top: -15px;
   left: 0;
   right: 0;
   margin: auto;
   font-family: 'Orbitron', sans-serif;
   content: "\Xmeagol";
   font-size: 15px;
   line-height: 2;
   color: #F99700;
   text-align: center;
   vertical-align: middle;
   width: 80px;
   height: 25px;
   background: #ffffff;
   border-radius: 5px;
 }

 #map {
   height: 400px;
   width: 100%;
   margin-top: 50px;
   border-radius: 5px;
 }

 #bold-h1 {
   font-weight: bold;
   font-size: 40px;
   margin-top: 20px;
   color: white;
   font-family: 'Jura', sans-serif;
   text-shadow: 2px 2px 8px #000000;
   margin-bottom: 0;
 }

 hr {
   width: 350px;
   margin-top: 3px;
 }

 #hr2 {
   width: 300px;
 }

 #white-H3 {
   color: white;
   font-family: 'Jura', sans-serif;
   font-size: 18px;
   text-shadow: 2px 2px 8px #000000;
 }

 .hotspots-background {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1)), url(../images/ct-black.jpeg);
   background-size: cover;
   height: 100vh;
 }

 .row {
   margin-right: 0;
   margin-left: 0;
 }

 #yellow {
   background-color: #101010;
   border-color: black;
   margin-top: 20px;
 }

 .container-fluid {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
   padding: 0;
 }

 #headings {
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../statBackground.jpg);
   filter: grayscale(70%);
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 300px;
 }

 #header-center-white {
   text-align: center;
   color: white;
   margin-top: 0;
   line-height: 300px;
   font-family: 'Open Sans', sans-serif;
   font-size: 40px;
 }

 .search-bar {
   margin-top: 25px;
   margin-bottom: 25px;
   font-family: 'Open Sans', sans-serif;
 }

 #sidebar-wrapper {
   z-index: 1;
   position: fixed;
   width: 0;
   height: 100%;
   overflow-y: hidden;
   background: #EAEAEA;
 }

 #wrapper.menuDisplayed #sidebar-wrapper {
   width: 250px;
 }

 #wrapper.menuDisplayed #page-content-wrapper {
   padding-left: 250px;
 }

 .sidebar-nav {
   padding: 0;
   list-style: none;
 }

 .sidebar-nav li {
   text-indent: 20px;
   line-height: 40px;
   display: block;
   text-decoration: none;
   color: black;
 }

 #regionmap {
   width: 100%;
   height: auto;
 }

 #filter-menu {
   display: none;
 }

 .related-background {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 89, 179, 0.3)), url(../images/crimeScene.jpg);
   background-size: cover;
   height: 100vh;
 }

 .open-sans {
   font-family: 'Open Sans', sans-serif;
 }

 #particles-js {
   height: 100%;
 }

 /*for presentaion*/

 .large-text {
   font-size: 18px;
 }

 .larger-text {
   font-size: 20px;
 }

 .big-text {
   font-size: 25px;
 }

 .bigger-text {
   font-size: 35px;
 }

 nav {
   font-size: 20px;
 }

 .navbar-text {
   margin-top: 10px;
 }

 /*stats2*/

 .left-side {
   padding-top: 20px;
   height: 100%;
   background-color: #474545;
   /*background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.9));*/
 }

 .right-side {
   padding-top: 20px;
   height: 100%;
   background-color: #474545;
   /*background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.9));*/
 }

 #particles-js2 {
   background-color: #fffff;
   background-image: url(../images/dark-stats.png);
   background-repeat: no-repeat;
   background-size: 80%;
   background-position: 50% 50%;
 }

 #box {
   position: relative;
   width: 100%;
   height: 300px;
   background-color: #474545;
   display: block;
   margin: auto;
 }

 /*register*/

 .inputs {
   border: 0;
   box-shadow: none;
   border-radius: 0;
   border-bottom: 2px solid #efefef
 }

 .wrap {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .button {
   width: 140px;
   height: 45px;
   font-size: 15px;
   letter-spacing: 2.5px;
   font-weight: 500;
   color: #000;
   background-color: #fff;
   border: none;
   border-radius: 45px;
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease 0s;
   cursor: pointer;
   outline: none;
 }

 .button:hover {
   background-color: rgb(0, 92, 230);
   box-shadow: 0px 15px 20px rgba(0, 92, 230, 0.4);
   color: #fff;
   transform: translateY(-7px);
 }

 .btn-process{
   background-color: black;
   color: white;
   border-color: black;
 }
