/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: fixed;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #EAEAEA;


}

/* Main Content */
#page-content-wrapper {

    width: 100%;
    position: absolute;
    padding-top: 15px;

}

/* Change width of the sidebar to display */

#wrapper.menuDisplayed #sidebar-wrapper {

    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {

    padding-left: 250px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    display: block;
    text-decoration: none;
    color: black;
}

#statPage{

    background-color: #F1F1F1;
}


#headings{
    margin-top: 20px;
    background-image: url(statBackground.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    padding-top: 64px;
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
}

h4{
    padding-top: 64px;
    text-align:center;
    color: white;
    font-size: 40px;
}

#regionmap{
    width: 320px;
    height: 310px;
}

#searchDiv {


    display: none;
}

#mycanvas2 {
    width: 100px;
    height: 25px;
    padding: 125px;

}

#footer{
    background: #292B2C;
    color: white;
    margin: 200px 0 0 0 !important;
    padding: 10px 10px 1px 10px;

}
h5{
    opacity: 0.9;
    padding:25px 0px 0px 25px;

}

.Footerinfo {
    font-size: 12px;
    padding: 1px 0px 0px 35px;
    opacity: 0.8;
}

.copywrite{

    opacity: 0.7;
    font-size: 12px;
    letter-spacing: 7px;
    text-align: center;

}
