doctype html
html(lang="en")
  head
    include includes/head.pug
    
    
  body.image-background
    include includes/nav.pug
      ul.nav.navbar-nav.navbar-right
        li
          a(href="index.html") Home
        li.active
          a(href="login.html") Login
        li
          a(href="profile.html") Profile
        li
          a(href="reports.html") Reports
        li
          a(href="stats.html") Statistics
        li
          a(href="../NewCapewatch/web/hotspots.html") Hotspots
        li
          a(href="../NewCapewatch/web/contact.jsp") Contact Us
      
    .container
      
      .login-div                    
        .text-center
          h4 Login
          
          .login-form-1
            form(id="login-form").text-left
              .login-form-main-message
              .main-login-form
                .login-group
                
                  .form-group
                  
                    input(type="email" placeholder="Email" name="email").form-control#lg_email
                  
                  .form-group
                  
                    input(type="password" placeholder="Password" name="password").form-control#lg_password
                    
                button(type="submit" name="submit").login-button
                  i.glyphicon.glyphicon-chevron-right
                
                p.marginTops.text-center#whiteText
                  |New user?    
                  a(href="register.html") Create account
                  
                .text-center#whiteText
                  a(href="#") Forgot password?
                  
                  

        
