doctype html
html(lang="en")
  head
    include includes/head.pug
    
    
  body
    include includes/nav.pug
      ul.nav.navbar-nav.navbar-right
        li
          a(href="index.html") Home
        li
          a(href="login.html") Login
        li
          a(href="profile.html") Profile
        li
          a(href="reports.html") Reports
        li
          a(href="Statistics/statistic.php") Statistics
        li.active
          a(href="hotspots.html") Hotspots
        li
          a(href="contact.html") Contact Us
          
    section
      .container
        .row
          h1 Hello, +name+
        
        .row
          .profileContent
             
