html(lang="en")
  head
    include includes/head.pug
    script(type="text/javascript" src="js/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css")
    script(type="text/javascript" src="js/datepicker.js")
    script(type="text/javascript" src="js/tableFilter.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

  body.backgroundcolor
    include includes/nav.pug
      ul.nav.navbar-nav.navbar-right
        li
          a(href="index.html") Home
        li
          a(href="login.html") Login
        li
          a(href="profile.html") Profile
        li.active
          a(href="reports.html") Reports
        li
          a(href="stats.html") Statistics
        li
          a(href="hotspots.html") Hotspots
        li
          a(href="contact.html") Contact Us
          
  .container 
    .row
      .col-sm-12
        h2.text-center#whiteText Crime Reports
        .panel-body 
          .row
            .col-sm-3.col-sm-offset-9
              form(action="#" method="get")
                .input-group
                  input(type="text" name="q" placeholder="Search for" required).form-control#system-search
                  span.input-group-btn
                    button(type="submit").btn.btn-default
                      i.glyphicon.glyphicon-search
            
          .row
            .col-sm-12
              .table-responsive
                table.table.table-list-search#reportTable
                  thead
                    tr
                      th CrimeID
                      th Posted By:
                      th Date
                      th Location
                      th Time
                      th Crime Type
                      th Status
                      th Details
                      th Delete
                  tbody
                    tr
                      td test
                      td test
                      td test
                      td test
                      td test
                      td test
                      td 
                        span.label.label-warning Open
                      td
                        button(type="button" data-title="Details" data-toggle="modal" data-target="#detailsModal").btn.btn-success.btn-xs 
                          span.glyphicon.glyphicon-zoom-in
                      td 
                        button(type="button" name="delete").btn.btn-danger.btn-xs 
                          span.glyphicon.glyphicon-remove
                        
                        
                    tr
                      td test
                      td test
                      td test
                      td test
                      td test
                      td test
                      td 
                        span.label.label-primary closed
                      td
                          button(type="button" data-title="Details" data-toggle="modal" data-target="#detailsModal").btn.btn-success.btn-xs 
                            span.glyphicon.glyphicon-zoom-in
                      td 
                        button(type="button" name="delete").btn.btn-danger.btn-xs 
                          span.glyphicon.glyphicon-remove
          .row
            .col-sm-3
              button(type="button" data-toggle="modal" data-target="#myModal").btn.btn-info submit a Report 
            .col-sm-2.col-sm-offset-7
              button(type="button" data-toggle="modal" data-target="#uploadModal").btn.btn-info upload a file
            
              
          div(role="dialog").modal.fade#myModal
            .modal-dialog
      
              .modal-content
                .modal-header.text-center#header Submit a report
                  button(type="button" data-dismiss="modal").close &times
                        
                .modal-body
                  form(method="post" action="#").form-horizontal
                    
                      .form-group
                        label(for="date").col-sm-2.control-label Date
                        .col-sm-4
                          input(id="date" name="date" placeholder="MM/DD/YYYY" type="text" data-date-end-date="0d" required)
                        
                      
                        label(for="location").col-sm-2.control-label Location
                        .col-sm-4
                          input(type="text" name="location" required)
                          
                      .form-group
                        label(for="time").col-sm-2.control-label Time
                        .col-sm-4
                          input(type="time" name="time" required)
                          
                      
                        label(for="crimeType").col-sm-2.control-label Crime Type
                        .col-sm-4
                          input(type="text" name="crimeType" required)
                          
                      .form-group
                          label(for="status").col-sm-2.control-label Status
                          .col-sm-4
                            select
                              option(value="open" name="open").label.label-danger open
                              option(value="closed" name="closed").label.label-primary closed          
                      .form-group
                        .col-sm-7.col-sm-offset-5   
                          button(type="submit").btn.btn-default Submit
                                                
          div(role="dialog").modal.fade#detailsModal
            .modal-dialog
              .modal-content
                .modal-header.text-center#header More Details
                  button(type="button" data-dismiss="modal").close &times
                        
                .modal-body 
                  .row
                    .col-sm-6
                      label.control-label Date:
                      label(for="date" name="date").detailsLabel test
                  
                    .col-sm-6
                      label.control-label Location:
                      label(for="location" name="location").detailsLabel test 
                  
                  .row
                    .col-sm-6
                      label.control-label Injured party age:
                      label(for="time" name="time").detailsLabel test
                    .col-sm-6
                      label.control-label Injured party race:
                      label(for="time" name="time").detailsLabel test
                  
              
                  .row
                    .col-sm-6
                      label.control-label Injured party gender:
                      label(for="time" name="time").detailsLabel test
                      
                    .col-sm-6
                      label.control-label Crime Type:
                      label(for="crimeType" name="crimeType").detailsLabel test
                      
                  .row  
                    .col-sm-6
                      label.control-label Status:
                      label(for="status" name="status").detailsLabel Open
                    
                .modal-footer
                  button(type="button" data-dismiss="modal"  role="button").btn.btn-default Close
                    
          div(role="dialog").modal.fade#uploadModal
            .modal-dialog
              .modal-content
                .modal-header.text-center#header Select a file from your computer
                  button(type="button" data-dismiss="modal").close &times
                  
                .modal-body
                  form(action="" method="post" enctype="multipart/form-data" id="js-upload-form")
                    .form-inline
                      .form-group
                        .col-sm-4
                          input(type="file" name="file")
                      .form-group
                        .col-sm-4
                          button(type="submit" id="js-upload-submit").btn.btn-sm.btn-primary Upload files
                
      
                    
                  
                  
  
                          
                      

                
              
                
      
        
          
        
